.main {
  margin-top: 16px;
  padding: 30px 55px;
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
  border-radius: 24px;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
}
