.main {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 0 32px 20px 32px;
  overflow: hidden;
  background: #f7f7f7;
}

.test {
  font-size: $T1;
  border: 1px solid $color;
}

.testOne {
  color: var(--tc);
}
