@import 'variables.scss';

.g-theme-color {
  background: #01ca9e;
}

.g-bc-theme {
  background: #01ca9e;
}

.g-color-B2 {
  background: $B2;
}

.g-color-B3 {
  background: $B3;
}

.g-color-B4 {
  color: $B4;
}

.g-color-B5 {
  color: $B5;
}

.g-bc-B2 {
  background-color: $B2;
}

.g-bc-B3 {
  background-color: $B3;
}

.g-bc-B4 {
  background-color: $B4;
}

.g-bc-B5 {
  background-color: $B5;
}

.g-font-72 {
  font-size: $T1;
}

.g-font-40 {
  font-size: $T2;
}

.g-font-32 {
  font-size: $T3;
}

.g-font-30 {
  font-size: $T4;
}

.g-font-28 {
  font-size: $T5;
}

.g-font-24 {
  font-size: $T6;
}

.g-font-22 {
  font-size: $T7;
}

.g-font-20 {
  font-size: $T8;
}
