
.main {
  margin-right: 0;
  margin-left: 0;
  padding: 0 20px;
  padding-right: 0;
  padding-left: 0;
  color: #fff;
  font-size: 32px;
  text-align: center;
  background: var(--tc);
}

.main::after {
  border: none;
  content: none;
}

.btnHover {
  background-color: #dedede;
}

.large {
  width: 620px;
  height: 84px;
  border-radius: 42px;
}

.normal {
  width: 620px;
  height: 84px;
  border-radius: 42px;
}

.samll {
  width: 620px;
  height: 84px;
  border-radius: 42px;
}
