.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text {
  margin-top: 120px;
  color: #333;
  font-weight: 400;
    font-size: 48px;
  text-align: center;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 180px;

  .iconWechat {
    width: 120px;
    height: 120px;
  }

  .iconArrow {
    width: 56px;
    height: 32px;
  }
}

.btnWrap {
  margin-top: 140px;
  padding: 0 40px;

  .btnWechatLogin {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 28px 175px;
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    line-height: normal;
    text-align: center;
    background-color: var(--tc);
    border-radius: 12px;
  }

  .btnHover {
    background-color: rgba(0, 201, 156, 0.8);
  }
}

.phoneLogin {
  margin-top: 40px;
  color: var(--tc);
  font-size: 32px;
  text-align: center;
}

.agreementAndPrivacy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 40px;
}
