.main {
  min-height: 100vh;
  background: #f6f6f6;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: var(--tc);

  .avatar {
    width: 136px;
    height: 136px;
    border-radius: 50%;
  }

  .username {
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
  }

  .unLoginTop {
    text-align: center;

    .unLoginTips {
      color: #fff;
      font-weight: 400;
      font-size: 32px;
    }
  }
}

.agent {
  padding: 12px 0;
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  background-color: rgba(51, 211, 175, 1);
}

.cellWraper {
  background: #f6f6f6;

  .cellLists {
    padding: 0 42px;
    background: #fff;

    .cell {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 38px 0;
      border-bottom: 1px solid #eee;

      .cellLeft {
        display: flex;
        align-items: center;

        .cellIcon {
          width: 40px;
          height: 40px;
          color: var(--tc);
          font-size: 40px;
        }

        .cellName {
          margin-left: 35px;
          color: #333;
          font-weight: 400;
          font-size: 32px;
        }
      }

      .cellRight {
        display: flex;
        align-items: center;

        .cellTips {
          margin-right: 20px;
          color: #999;
          font-weight: 400;
          font-size: 28px;
        }

        .cellArrow {
          width: 34px;
          height: 34px;
          color: #cacaca;
          font-size: 34px;
        }
      }
    }
  }
}

.logout {
  width: 100%;
  height: 100px;
  margin-top: 32px;
  color: red;
  font-size: 32px;
  line-height: 100px;
  text-align: center;
  background: #fff;
}

.btnHover {
  color: red;
  background-color: #dedede;
}
