.main {
  min-height: 100vh;
  background: #F6F6F6;
}

.userinfo {
  background-color: var(--tc);
  padding: 40px 0;
  display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
  .avatar {
    width: 136px;
    height: 136px;
    border-radius: 50%;
  }
  .username {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
  }
  .unLoginTop {
    text-align: center;
    .unLoginTips {
      font-size: 32px;
      font-weight: 400;
      color: #FFFFFF;
    }
  }

}

.agent {
  background-color: rgba(51, 211, 175, 1);
  padding: 12px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #FFFFFF;
}

.cellWraper {
  background: #F6F6F6;
  .cellLists {
    padding: 0 42px;
    background: #FFFFFF;
    .cell {
      padding: 38px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EEEEEE;
      .cellLeft {
        display: flex;
        align-items: center;
        .cellIcon {
          font-size: 40px;
          width: 40px;
          height: 40px;
          color: var(--tc);
        }
        .cellName {
          margin-left: 35px;
          font-size: 32px;
          font-weight: 400;
          color: #333333;
        }
      }
      .cellRight {
        display: flex;
        align-items: center;
        .cellTips {
          font-size: 28px;
          font-weight: 400;
          color: #999999;
          margin-right: 20px;
        }
        .cellArrow {
          font-size: 34px;
          width: 34px;
          height: 34px;
          color: #CACACA;
        }
      }
    }
  }
}

.logout {
  margin-top: 32px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #FFFFFF;
  font-size: 32px;
  color: red;
  text-align: center;
}

.btnHover {
  background-color: #dedede;
  color: red;
}

